<% layout("/layouts/boilerplate") %>

<div style="text-align:center; margin-top:100px;">
  <h2>Booking Confirmed (Pay at Check-in)</h2>
  <p>Your booking is reserved.</p>
  <p>Please pay at the hotel during check-in.</p>

  <a href="/bookings" class="btn btn-primary">View My Bookings</a>
</div>